#maincanvas {
  position: absolute !important;
  top: 0px;
}
.info-container {
  display: flex;
  flex-direction: row-reverse;
}
.selected-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  margin-top: 50px;
}
.selected-container__header {
  border: solid gray 1px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.selected-container__body {
  border: solid gray 1px;
}
