@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
#maincanvas {
  position: absolute !important;
  top: 0px;
  background-color: #fff3d4;
}
.sidebar-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px;
}
.info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: #e9aabd 3px solid;
  border-radius: 5px;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  width: 326px;
}
.info-container__item {
  padding-bottom: 5px;
}
.info-container__heading {
  font-weight: bold;
  font-style: italic;
}
.info-container__description {
}
.info-container__link {
  color: lightgray;
}
.info-container__image {
  display: flex;
  justify-content: center;
}
.info-container__img {
  border-radius: 5px;
}
